---
layout: default
---
	<p>Digitale oplichting is een groeiend probleem. De laatste jaren melden steeds meer slachtoffers zich bij de <a href="https://www.fraudehelpdesk.nl" target="_blank">Fraudehelpdesk</a>, en de schade loopt inmiddels jaarlijks in de miljoenen euro's. In 2019 liep de schade zelfs op tot ruim 25 miljoen euro, terwijl dat bedrag twee jaar eerder aanzienlijk lager lag.</p>
	<p>Dit komt misschien wat hard aan, maar de realiteit is dat digitale oplichting steeds vaker voorkomt, ook onder jongeren. Het CBS <a href="https://longreads.cbs.nl/veiligheidsmonitor-2019/slachtofferschap-criminaliteit/" target="_blank">meldde in 2020</a> zelfs dat ruim 17 procent van alle jongeren tussen de 15 en 25 jaar, slachtoffer zijn geworden van digitale oplichting. Dat is het hoogste percentage onder alle leeftijdsgroepen. Sterker nog: hoe jonger de doelgroep, hoe hoger het percentage slachtoffers van digitale fraude.</p>
	<p>Dat zijn schrikbarende cijfers, maar vrees niet: je kunt jezelf hiertegen beschermen. Hoe? Daar gaan wij je de komende maanden mee helpen. Ook gaan we onderzoeken in hoeverre jullie je zorgen maken, en wat scholen en de overheid kunnen doen om jullie te steunen. Stay safe out there!</p>
<br>
	<hr>
<br>

<!-- Posts -->

<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
		<p>{{ post.description | strip_html | truncatewords:100 }}</p>
	  </li>

    {% endfor %}

</ul>

<br>
