/*
 * Emerald is a simple blog theme built for Jekyll.
 */

/*- Base reset -*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/*- Base color -*/

$main-color: #00cec9;
$background-color: #FFFFFF;
$text-color: #222222;

/*- Base settings -*/

html {
	background-color: $background-color;
	font-size: 16px;
	@media (min-width: 940px) {
		font-size: 18px;
	}
	line-height: 1.5;
	color: $text-color;
}

.auteur {
	color: #696969;
	font-size: 1em /* 14px */;
	float: left;
	margin-top: -18px;
}

.bijschrift {
	color: grey;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}


.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*- Link -*/

.footer a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 700;
}

a {
	color: $main-color;
	text-decoration: none;
	font-weight: 700;
	&:hover,
	&:focus {
		color: darken($main-color, 5%);
	}
}
