/*- Custom style -*/

// -- Put custom style under this point -- //

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, img {
  margin: 0;
  padding: 0;
  border: 0;
	line-height: 1.5;
}

.content {
	
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, img {
  margin: 0;
  padding: 0;
  border: 0;
	line-height: 1.5;
}
	
#header {
	text-align: center;
  padding: 24px 0;
  position: center;
}
